<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <div class="add-cat">
        <button mat-raised-button color="primary" (click)="openDialog()"  color="primary">
            <mat-icon aria-label="create">add_box</mat-icon> Add Cat
        </button>
      </div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <table mat-table #table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let cat"> {{cat.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let cat"> {{cat.color}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef> Race </th>
        <td mat-cell *matCellDef="let cat"> {{cat.race}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="vaccinated">
        <th mat-header-cell *matHeaderCellDef> Vaccinated </th>
        <td mat-cell *matCellDef="let cat"> {{cat.vaccinated}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sheltername">
        <th mat-header-cell *matHeaderCellDef> Shelter name </th>
        <td mat-cell *matCellDef="let cat"> {{cat.sheltername}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let cat"> 
  
                <button mat-icon-button (click)="editCat()"  color="primary">
                  <mat-icon aria-label="edit">create</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCat(cat.id)"  color="primary">
                  <mat-icon aria-label="delete">delete_sweep</mat-icon>
                </button>
               
  
          </td>
        </ng-container>
       

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>