<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <div class="add-shelter">
      <button mat-raised-button color="primary" (click)="openDialog()"  color="primary">
          <mat-icon aria-label="create">add_box</mat-icon> Add Shelter
      </button>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <!--<table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef> Telephone </th>
      <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell  *matHeaderCellDef > Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 

              <button mat-icon-button (click)="editShelter()"  color="primary">
                <mat-icon aria-label="edit">create</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteShelter()"  color="primary">
                <mat-icon aria-label="delete">delete_sweep</mat-icon>
              </button>
             

        </td>
      </ng-container>

  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  <table class="table" >
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Telephone</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let shelter of shelters | async">
      <td>{{shelter.name}}</td>
      <td>{{shelter.address}}</td>
      <td>{{shelter.telephone}}</td>
      <td>{{shelter.email}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="editShelter(shelter)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteShelter(shelter.id)">Delete</button>

    </td>
    </tr>
  </tbody>
</table>
</div>
