<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <div class="add-shelter">
      <button mat-raised-button color="primary" (click)="openDialog()"  color="primary">
          <mat-icon aria-label="create">add_box</mat-icon> Add Shelter
      </button>
    </div>
    
  </div>

  <table class="table" >
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Telephone</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let shelter of shelters | async">
      <td>{{shelter.name}}</td>
      <td>{{shelter.address}}</td>
      <td>{{shelter.telephone}}</td>
      <td>{{shelter.email}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="editShelter(shelter)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteShelter(shelter.id)">Delete</button>

    </td>
    </tr>
  </tbody>
</table>
</div>
