
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <div class="action-button">
      <button mat-raised-button color="primary" (click)="addCat()"  color="primary">
          <mat-icon aria-label="create">add_box</mat-icon> Add Cat
      </button>
    </div>
    <div class="action-button">
      <button mat-raised-button color="primary" (click)="openFilterDialog()"  color="primary">
          <mat-icon aria-label="create">add_box</mat-icon> Filters
      </button>
    </div>
    <div class="action-button">
        <button mat-raised-button color="primary" (click)="sortAscending()"  color="primary">
            <mat-icon aria-label="create">add_box</mat-icon> Sort Asc
        </button>
    </div>
    <div class="action-button">
        <button mat-raised-button color="primary" (click)="sortDescending()"  color="primary">
            <mat-icon aria-label="create">add_box</mat-icon> sort Desc
        </button>
    </div>

  <table class="table"  *ngIf="isAllResult" >
      <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Race</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Vaccinated</th>
            <th scope="col">Shelter Name</th>
            <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>

      <tr *ngFor="let cat of cats | async">
        <td>{{cat.name }}</td>
        <td>{{cat.color}}</td>
        <td>{{cat.race}}</td>
        <td>{{cat.date_of_birth}}</td>
        <td>{{cat.vaccinated}}</td>
        <td *ngFor="let shelter of cat.shelters">{{shelter.name}}</td> 


        <td>
            <button mat-raised-button color="primary" (click)="editCat(cat)">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteCat(cat.id)">Delete</button>

        </td>

      </tr>
    </tbody>
  </table>

  <table class="table" *ngIf="isFilteredResult">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Race</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Vaccinated</th>
          <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let cat of filteredCats ">
      <td>{{cat.name }}</td>
      <td>{{cat.color}}</td>
      <td>{{cat.race}}</td>
      <td>{{cat.date_of_birth}}</td>
      <td>{{cat.vaccinated}}</td>


      <td>
          <button mat-raised-button color="primary" (click)="editCat(cat)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteCat(cat.id)">Delete</button>

      </td>

    </tr>
  </tbody>
</table>
<table class="table" *ngIf="isSortedResult">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Race</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Vaccinated</th>
          <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let cat of sortedCatsAsc ">
      <td>{{cat.name }}</td>
      <td>{{cat.color}}</td>
      <td>{{cat.race}}</td>
      <td>{{cat.date_of_birth}}</td>
      <td>{{cat.vaccinated}}</td>


      <td>
          <button mat-raised-button color="primary" (click)="editCat(cat)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteCat(cat.id)">Delete</button>

      </td>

    </tr>
  </tbody>
</table>
<table class="table" *ngIf="isSortedDesc">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Race</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Vaccinated</th>
          <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let cat of sortedCatsDesc">
      <td>{{cat.name }}</td>
      <td>{{cat.color}}</td>
      <td>{{cat.race}}</td>
      <td>{{cat.date_of_birth}}</td>
      <td>{{cat.vaccinated}}</td>


      <td>
          <button mat-raised-button color="primary" (click)="editCat(cat)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteCat(cat.id)">Delete</button>

      </td>

    </tr>
  </tbody>
</table>
</div>
</div>